*{
    text-align: center;
  }
  img{
    max-width: 256px;
    max-height: 256px;
  }
  .hidden{
    display: none;
  }
  .weather-widget{
    padding: 5px;
    background-image: url(http://powerpoint.sonyanancysims.com/mypictures/weather/LgPicts/clouds-snc2.jpg);
    background-size: cover;

  }
